@model IEnumerable<EmployeeLeaveManagment.Web.Models.ViewModels.LeaveTypeVM>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table border-3 table-bordered bg-info p-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<button class="btn btn-danger deleteBtn" type="button">Delete</button>*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>

@section Scripts {
<script>
    $(function(){
        // custom jQuery to track delete button -> doda klasu na botun
        $(".deleteBtn").click(function(e) {
            // swal poziva sweetalert
            swal({
                title: "Are you sure?",
                text: "Are you sure want to delete this record?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }
            ).then((confirm) => {
                if (confirm) {
                    alert("you said yes");
                }
            });
        });
    });
</script>
}